**/.venv/
**/.DS_Store
**/.idea/
**/.pytest_cache/
**/.ruff_cache/
**/.vscode/*
!**/.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
**/.cursorrules
**/.cursor/
**/.cursor/rules/
**/.env
**/site/
**/__pycache__/
**/output/
**/tmp/
**/kaes/